.footer{
    padding: 20px;
    background-color: black;
}
.intro{
    margin-bottom: 40px;
}

Col a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration:none;
}

.cad-tex{
    color: #acb4b9;
    margin-bottom: 2rem;
}

.pp{
    background-image: url('img/bg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height:2rem ;   
}

.mypassport{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-top: 15rem;
    margin-bottom: 10px;
    z-index: 3;
}

.card{
    background-color: rgb(45, 41, 41);
}

.team__card{
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 2rem;
}

li{
    list-style: none;
}
ol li{
    font-size: medium;
}

.imgg{
    max-height: 10em;
    min-height: 30rem;
}